<a href="{{ path('jg_form_homepage')}}">
        Retour au formulaire
</a>

<h1>Liste des articles</h1>

<hr>

{% for article in articles %}

        {#<img src="{{ vich_uploader_asset(article.image, 'file') }}" />#}
    {#{{ vich_uploader_asset(devis, 'devisFile') }}"#}
        <p> Image : {{ article.image }}</p>
        <h3>{{ article.titre }}</h3>
        <p>Article : {{ article.article }}</p>
        <p>Auteur : {{ article.auteur }}</p>
        <p>Posté le : {{ article.date | date('d-m-Y') }}</p>
        <a href="{{ path('jg_form_edit', {'id' : article.id})}}">
                Modifier le formulaire
        </a>
        <br>
        <a href="{{ path('jg_form_delete', {'id' : article.id})}}">
                Supprimer le formulaire
        </a>

        <hr>
{% endfor %}


